@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

$poppins: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    animation: cycle 20s infinite; 
    opacity: 0;
    
    img {
        width: 100%;
        height: 100%;
        color: linear-gradient(to bottom, rgba(184, 118, 245, .45), rgba(135, 46, 217, .45));
        object-fit: cover;
        animation: imgZoom 20s infinite;
    }

    .slideshow-text {
        max-width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: $poppins;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        padding: 5rem 5rem;
        text-align: center;
        border: 1px solid white;

        #sl-header {
            font-size: 17px;
        }

        p {
            margin-bottom: 15px;
        }
        
        button {
            width: 100px;
            height: 40px;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-size: 15px;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            background: none;

            &:hover {
                background-color: white;
                color: black;
                transition: .5s ease;
                cursor: pointer;
            }
        }
    }
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 10s;
}

@keyframes imgZoom {
    100% {
        transform: scale(1.3);
    }
}

@keyframes cycle {
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}

@media screen and (max-width: 1080px) {
    .slideshow-text {
        width: 100%;

        p {
            font-size: 18px;
        }

        #sl-header {
            font-size: 20px;
        }
    }
}