<html>
    <head>
        <link rel="stylesheet" href="/css/home.css" type="text/css">
        <title>Home Page</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </head>
    <body>
        <nav>
            <div class="logo">
                <span id="bfia-logo">BFIA Foundation</span>
            </div>
            <div class="links">
                <a href="#">Home</a>
                <a href="/login">Login</a>
                <a href="#">Donate</a>
                <a href="#">Dashboard</a>
            </div>
            <div class="toggles">
                <button id="mode-toggle"><span class="iconify" data-icon="bx:bx-moon" data-inline="false"></span></button>
            </div>
        </nav>

        <main id="main">
            <div class="fam-pic">
                <img src="/css/family_back.jpeg" alt="">
                <div class="detail-text">
                    <span id="big-title">Welcome to BFIA®!</span>
                    <p>Welcome to the Offical Webpage of the BFIA organization. are a non-profit organization looking to help families.</p>
                </div>
            </div>
    
            <div class="mission dark-change">
                <span id="big-title">Our Mission 💖</span>
                <br>
                <br>
                <img class="on-scroll" src="/css/family_pic.jpg" alt="">
                <br>
                <br>
                <p>Our mission is to help redistribute wealth as we improve oppourtunites for family members in the areas of buisness incubation, the education program, and small buisness loans. Loans will be made using the Gramean Banking System. By August 31, 2022, our goal is to extend our family to 30 million (hopefully more) members.</p>
            </div>

            <div class="vision dark-change">
                <span id="big-title">Our Vision 👀</span>
                <br>
                <br>
                <p>We hope that by August 31, 2021, over 5 million families have donated, and we have helped over 10 milion with basic products and nescesites.</p>
            </div>

            <div class="faq dark-change">
                <span id="big-title">FAQ ❓</span>
                <br>
                <span id="little-header">(This means frequently asked questions)</span>
                <br>
                <br>
                <p><b>Q: How do I donate?</b></p>
                <br>
                <p>A: Cmon now. The way you can donate is by either clicking the donate button and redirecting you to the dashboard, or just accessing your dashboard. [Note: You must create a BFIA account in order to donate. The next question address how to make one.]</p>
                <br>
                <br>
                <p><b>Q: How do I create a BFIA account?</b></p>
                <br>
                <p>A: Visit our registration page, via here.</p>
                <noscript><p>You will see this if no JavaScript or cookies is enabled. Please enable them in your browser's settings, as they are neccessary for normal operation.</p></noscript>
                <br>
                <br>
                <p><b>Q: From what countries can I donate?</b></p>
                <br>
                <p>A: You can donate it from 200+ countries. We use PayPal, which supports a ton of countries. You can check the list of countries <a href="https://www.paypal.com/us/webapps/mpp/country-worldwide">here</a>.</p>
                <br>
                <br>
                <p><b>Q: Does your website have dark mode?</b></p>
                <br>
                <p>A: Yes. In the navbar, there is a moon icon. Click that, and that will toggle dark mode.</p>
            </div>

            <div class="our-vid dark-change">
                <span id="big-title">Our Video 📹</span>
                <br>
                <span id="info-title">Have a look at our video.</span>
                <br>
                <iframe src="https://www.youtube.com/embed/yQjHWaeqGiM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="contact-us dark-change">
                <span id="big-title">Contact Us 📞</span>
                <br>
                <p>Location: 1201 24th Street, Suite B-200, Bakersfield, CA 93301</p>
                <p>Office Number: (661) 459-0099</p>
                <p>Office Fax: (661) 249-6375</p>
            </div>
        </main>
        <script type="module">
            import init, { toggle_mode } from '/backend/pkg/backend.js'

            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();

                return (
                    (rect.top <= 0 
                        && rect.bottom >= 0)
                    ||
                    (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) && 
                        rect.top <= (window.innnerHeight || document.documentElement.clientHeight))
                    ||
                    (rect.top >= 0 &&
                        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
                );
            }

            init().then(() => {
                document.getElementById('mode-toggle').addEventListener('click', () => toggle_mode())

                var scroll = window.requestAnimationFrame || function(callback) { window.setTimeout(callback, 1000/60) };

                var elementsToShow = document.querySelectorAll('.on-scroll')

                function loop() {
                    elementsToShow.forEach(element => {
                        if(isElementInViewport(element)) {
                            element.classList.add('is-scrolled')
                        } else {
                            element.classList.remove('is-scrolled')
                        }
                    });

                    scroll(loop);
                }

                loop()
            })
        </script>
    </body>
</html>